# Weather Data Analysis
### Author: Ilyas Ustun

Data Source: https://www.wunderground.com/history

Norfolk, VA is quite a rainy place. Especially during the summer times, tropical storms are not uncommon. Let's see if we can find some period with no rain in 2014. Of course, for this analysis to be a powerful predictor of the future more data need to be analyzed. This analyssis will be expanded to include several other years.

The data can be downloaded from the [weather underground](https://www.wunderground.com/history) website.

In [1]:
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.options.display.max_columns = 200 # Display max number of cols
pd.options.display.max_rows = 10 # Display max number of rows
pd.options.display.precision = 3
#pd.options.display.show_dimensions = True

In [4]:
df = pd.read_csv('Norfolk_VA_2015.csv')

In [5]:
df

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2015-1-1,50,38,25,32,22,16,75,52,28,30.32,30.23,30.14,10,10,10,23,10,29.0,0.00,0,NaN,229
1,2015-1-2,52,46,40,36,33,28,73,57,41,30.41,30.29,30.16,10,10,10,21,6,28.0,0.00,4,NaN,271
2,2015-1-3,55,49,42,54,44,33,93,77,60,30.45,30.28,30.14,10,5,0,14,6,19.0,0.07,8,Fog-Rain,76
3,2015-1-4,75,65,55,65,61,41,93,80,66,30.13,30.00,29.84,10,8,1,29,16,39.0,0.06,6,Rain,213
4,2015-1-5,61,49,37,38,25,13,54,39,24,30.45,30.26,29.98,10,10,10,17,10,25.0,0.00,0,NaN,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-12-27,76,67,57,65,61,56,100,80,60,30.25,30.11,29.98,10,5,0,26,12,34.0,0.00,5,Fog,220
361,2015-12-28,70,61,51,63,51,44,93,80,66,30.31,30.20,30.03,10,7,1,24,15,31.0,0.07,8,Rain,49
362,2015-12-29,79,68,57,69,63,56,100,82,64,30.14,30.01,29.95,10,9,1,25,10,32.0,0.16,7,Rain,192
363,2015-12-30,66,62,57,62,59,55,100,94,87,30.23,30.16,30.07,10,5,0,21,7,27.0,0.74,8,Fog-Rain,114
364,2015-12-31,66,59,52,62,53,49,93,88,83,30.15,30.10,30.03,10,7,2,16,7,21.0,0.30,8,Rain,23

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 23 columns):
EST                           365 non-null object
Max TemperatureF              365 non-null int64
Mean TemperatureF             365 non-null int64
Min TemperatureF              365 non-null int64
Max Dew PointF                365 non-null int64
MeanDew PointF                365 non-null int64
Min DewpointF                 365 non-null int64
Max Humidity                  365 non-null int64
 Mean Humidity                365 non-null int64
 Min Humidity                 365 non-null int64
 Max Sea Level PressureIn     365 non-null float64
 Mean Sea Level PressureIn    365 non-null float64
 Min Sea Level PressureIn     365 non-null float64
 Max VisibilityMiles          365 non-null int64
 Mean VisibilityMiles         365 non-null int64
 Min VisibilityMiles          365 non-null int64
 Max Wind SpeedMPH            365 non-null int64
 Mean Wind SpeedMPH           365 non-null int64
 Max Gust SpeedMPH            363 non-null float64
PrecipitationIn               365 non-null object
 CloudCover                   365 non-null int64
 Events                       153 non-null object
 WindDirDegrees               365 non-null int64
dtypes: float64(4), int64(16), object(3)
memory usage: 65.7+ KB

The column headers contain a space at the begin. To get rid of that <skipinitialspace = True> argument can be added to pandas.reaad_csv.

In [7]:
df = pd.read_csv('Norfolk_VA_2014.csv', skipinitialspace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 23 columns):
EST                          365 non-null object
Max TemperatureF             365 non-null int64
Mean TemperatureF            365 non-null int64
Min TemperatureF             365 non-null int64
Max Dew PointF               365 non-null int64
MeanDew PointF               365 non-null int64
Min DewpointF                365 non-null int64
Max Humidity                 365 non-null int64
Mean Humidity                365 non-null int64
Min Humidity                 365 non-null int64
Max Sea Level PressureIn     365 non-null float64
Mean Sea Level PressureIn    365 non-null float64
Min Sea Level PressureIn     365 non-null float64
Max VisibilityMiles          365 non-null int64
Mean VisibilityMiles         365 non-null int64
Min VisibilityMiles          365 non-null int64
Max Wind SpeedMPH            365 non-null int64
Mean Wind SpeedMPH           365 non-null int64
Max Gust SpeedMPH            365 non-null int64
PrecipitationIn              365 non-null object
CloudCover                   365 non-null int64
Events                       132 non-null object
WindDirDegrees               365 non-null int64
dtypes: float64(3), int64(17), object(3)
memory usage: 65.7+ KB

In [8]:
df.columns

Index(['EST', 'Max TemperatureF', 'Mean TemperatureF', 'Min TemperatureF',
       'Max Dew PointF', 'MeanDew PointF', 'Min DewpointF', 'Max Humidity',
       'Mean Humidity', 'Min Humidity', 'Max Sea Level PressureIn',
       'Mean Sea Level PressureIn', 'Min Sea Level PressureIn',
       'Max VisibilityMiles', 'Mean VisibilityMiles', 'Min VisibilityMiles',
       'Max Wind SpeedMPH', 'Mean Wind SpeedMPH', 'Max Gust SpeedMPH',
       'PrecipitationIn', 'CloudCover', 'Events', 'WindDirDegrees'],
      dtype='object')

In [9]:
df.describe

<bound method NDFrame.describe of             EST  Max TemperatureF  Mean TemperatureF  Min TemperatureF  \
0      2014-1-1                54                 45                35
1      2014-1-2                48                 45                42
2      2014-1-3                42                 33                24
3      2014-1-4                43                 32                20
4      2014-1-5                64                 51                37
..          ...               ...                ...               ...
360  2014-12-27                62                 48                33
361  2014-12-28                65                 56                47
362  2014-12-29                56                 49                42
363  2014-12-30                43                 40                37
364  2014-12-31                44                 35                26

     Max Dew PointF  MeanDew PointF  Min DewpointF  Max Humidity  \
0                36              31             27            76
1                43              37             32            96
2                40              16              3            89
3                29              19              8            70
4                60              48             29            93
..              ...             ...            ...           ...
360              39              36             31            92
361              56              50             39            93
362              52              41             28            93
363              34              30             25            79
364              31              26             20            92

     Mean Humidity  Min Humidity  Max Sea Level PressureIn  \
0               61            46                     30.43
1               75            54                     30.13
2               60            31                     30.49
3               52            33                     30.56
4               80            66                     30.29
..             ...           ...                       ...
360             64            36                     30.32
361             78            63                     30.12
362             78            62                     30.21
363             67            54                     30.42
364             71            49                     30.44

     Mean Sea Level PressureIn  Min Sea Level PressureIn  Max VisibilityMiles  \
0                        30.32                     30.15                   10
1                        29.78                     29.48                   10
2                        30.10                     29.53                   10
3                        30.45                     30.29                   10
4                        30.07                     29.80                   10
..                         ...                       ...                  ...
360                      30.26                     30.14                   10
361                      30.03                     29.96                   10
362                      30.14                     30.04                   10
363                      30.32                     30.20                   10
364                      30.38                     30.31                   10

     Mean VisibilityMiles  Min VisibilityMiles  Max Wind SpeedMPH  \
0                      10                   10                 12
1                       7                    2                  8
2                      10                    5                 26
3                      10                   10                 14
4                      10                   10                 20
..                    ...                  ...                ...
360                     7                    0                 13
361                    10                    9                 22
362                     8                    3                 21
363                    10                    7                 21
364                    10                    8                 12

     Mean Wind SpeedMPH  Max Gust SpeedMPH PrecipitationIn  CloudCover Events  \
0                     4                 14            0.00           2    NaN
1                     2                 14            0.49           7   Rain
2                    14                 37            0.03           4   Rain
3                     4                 16            0.00           1    NaN
4                     8                 29            0.03           6    NaN
..                  ...                ...             ...         ...    ...
360                   7                 15            0.00           0    NaN
361                   8                 32            0.00           5    NaN
362                  12                 27            0.48           8   Rain
363                  14                 28            0.01           6   Rain
364                   4                 16            0.00           0    NaN

     WindDirDegrees
0               132
1                26
2               332
3               125
4               165
..              ...
360             206
361             225
362              17
363              17
364             246

[365 rows x 23 columns]>

In [10]:
df.describe()

,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,CloudCover,WindDirDegrees
count,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000,365.000
mean,68.099,60.145,51.707,53.751,48.162,41.992,85.460,67.490,48.981,30.137,30.042,29.945,9.992,9.277,7.071,18.740,9.055,25.099,3.121,159.573
std,16.841,16.505,16.984,16.064,17.484,18.897,10.325,11.696,16.148,0.169,0.177,0.193,0.117,1.450,3.777,5.521,3.799,7.617,2.726,108.056
min,24.000,19.000,6.000,1.000,-4.000,-7.000,42.000,26.000,7.000,29.680,29.390,29.190,8.000,3.000,0.000,8.000,2.000,10.000,0.000,1.000
25%,54.000,47.000,37.000,41.000,35.000,28.000,81.000,60.000,37.000,30.030,29.930,29.830,10.000,9.000,2.000,15.000,7.000,20.000,1.000,50.000
50%,72.000,62.000,53.000,57.000,50.000,42.000,88.000,68.000,49.000,30.120,30.040,29.960,10.000,10.000,10.000,18.000,8.000,24.000,3.000,187.000
75%,81.000,75.000,68.000,68.000,64.000,59.000,93.000,76.000,60.000,30.230,30.140,30.070,10.000,10.000,10.000,22.000,11.000,29.000,5.000,233.000
max,99.000,89.000,79.000,76.000,72.000,71.000,100.000,93.000,86.000,30.630,30.560,30.520,10.000,10.000,10.000,37.000,23.000,52.000,8.000,360.000

Let's convert the precipitation (inches) to floating point number. It is currrently a string.

In [11]:
df['PrecipitationIne'] = df['PrecipitationIn'].astype('float64')

ValueError: could not convert string to float: 'T'

In [12]:
df['PrecipitationIn'][39:43]

39    0.00
40       T
41    0.00
42    0.28
Name: PrecipitationIn, dtype: object

In [13]:
df['PrecipitationIn'].unique()

array(['0.00', '0.49', '0.03', '0.05', '0.10', '1.27', '0.36', '0.01',
       '0.06', '0.34', '0.43', '0.30', '0.16', '0.19', 'T', '0.28', '0.98',
       '0.23', '0.04', '0.72', '0.80', '0.20', '0.32', '0.26', '0.50',
       '0.55', '0.56', '0.86', '2.30', '0.57', '0.85', '0.07', '3.01',
       '0.22', '0.92', '0.33', '0.27', '1.46', '1.35', '2.40', '0.93',
       '1.42', '0.42', '0.12', '0.31', '0.52', '0.60', '1.89', '0.02',
       '3.05', '1.72', '1.56', '0.58', '0.21', '0.39', '0.14', '1.79',
       '0.15', '0.84', '1.62', '0.48'], dtype=object)

In [14]:
df['PrecipitationIn'].apply(lambda x: x=='T').sum()

31

In [15]:
(df['PrecipitationIn'] == 'T').sum()

31

In [16]:
df[df['PrecipitationIn'] == 'T']

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
40,2014-2-10,44,38,31,35,23,19,79,68,56,30.30,30.18,30.01,10,10,5,22,12,26,T,8,Snow,21
56,2014-2-26,41,37,32,29,25,20,75,64,52,30.01,29.91,29.82,10,10,8,17,8,23,T,5,Snow,55
62,2014-3-4,32,28,24,29,23,13,92,76,60,30.33,30.27,30.19,10,8,2,24,16,31,T,6,Snow,9
98,2014-4-9,64,57,50,45,41,34,77,54,31,30.05,29.82,29.65,10,10,10,14,6,18,T,4,NaN,14
115,2014-4-26,77,67,57,61,48,39,93,62,31,29.95,29.83,29.71,10,10,9,22,10,27,T,1,Rain,256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,2014-10-13,80,73,65,67,64,56,87,75,62,30.27,30.23,30.20,10,10,10,16,8,23,T,4,NaN,142
293,2014-10-21,74,66,57,56,52,46,93,66,38,29.97,29.87,29.80,10,10,10,13,6,17,T,3,NaN,233
317,2014-11-14,45,41,37,36,26,16,70,54,37,30.29,30.12,30.01,10,10,9,22,12,32,T,6,NaN,343
335,2014-12-2,50,47,43,46,42,38,96,84,71,30.50,30.41,30.33,10,5,1,21,10,28,T,8,Rain,4
340,2014-12-7,50,46,42,46,35,27,86,68,49,30.44,30.28,30.08,10,10,9,32,23,46,T,7,Rain,8

In [17]:
def func_replace_letter(x):
    if x == 'T':
        x = np.nan        
    return x

(df['PrecipitationIn'].apply(func_replace_letter)).dtype
df['PrecipitationIn'] = df['PrecipitationIn'].apply(func_replace_letter)

print('Number of "T" after conversion to nan: ', (df['PrecipitationIn'] == 'T').sum())
print('Number of nan values: {}'.format(df['PrecipitationIn'].isnull().sum()))

Number of "T" after conversion to nan:  0
Number of nan values: 31

In [18]:
idx_nan = df[df['PrecipitationIn'].isnull() == True].index.values
idx_nan

array([ 40,  56,  62,  98, 115, 130, 146, 148, 153, 161, 164, 175, 182,
       183, 185, 207, 217, 222, 224, 233, 234, 240, 252, 262, 268, 284,
       285, 293, 317, 335, 340], dtype=int64)

In [19]:
df['PrecipitationIn'] = df['PrecipitationIn'].astype(dtype = 'float64')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 23 columns):
EST                          365 non-null object
Max TemperatureF             365 non-null int64
Mean TemperatureF            365 non-null int64
Min TemperatureF             365 non-null int64
Max Dew PointF               365 non-null int64
MeanDew PointF               365 non-null int64
Min DewpointF                365 non-null int64
Max Humidity                 365 non-null int64
Mean Humidity                365 non-null int64
Min Humidity                 365 non-null int64
Max Sea Level PressureIn     365 non-null float64
Mean Sea Level PressureIn    365 non-null float64
Min Sea Level PressureIn     365 non-null float64
Max VisibilityMiles          365 non-null int64
Mean VisibilityMiles         365 non-null int64
Min VisibilityMiles          365 non-null int64
Max Wind SpeedMPH            365 non-null int64
Mean Wind SpeedMPH           365 non-null int64
Max Gust SpeedMPH            365 non-null int64
PrecipitationIn              334 non-null float64
CloudCover                   365 non-null int64
Events                       132 non-null object
WindDirDegrees               365 non-null int64
dtypes: float64(4), int64(17), object(2)
memory usage: 65.7+ KB

In [21]:
days = np.array([-2,-1,0,1,2])
for idx in idx_nan:
    idx_days = idx + days
    # print(df.loc[idx_days, 'PrecipitationIn'].median())
    df.loc[idx, 'PrecipitationIn'] = df.loc[idx_days, 'PrecipitationIn'].median()

In [22]:
df['PrecipitationIn'].isnull().sum()

0

So, I have converted the precipitation column to float64 and also got rid of nan values by imputing them to the median of the closest 2 previous and 2 upcoming days.